<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roosevelt Young</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/content/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app/content/site.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <img id="roundimg" src="{{ url_for('static', filename='app/content/picture.jpg') }}"
                 style="width:250px;height:250px;border:0;border-radius: 5px;background: black;" />
            <h2>Roosevelt Young</h2>
            <small>
                <a href="mailto:roosevelt.young.jr@outlook.com">
                    <i class="fa fa-envelope-o"></i>
                    roosevelt.young.jr@outlook.com
                </a>
            </small>
            <p>Software Engineer. I do Pacific Northwest stuff outside sometimes; usually write backend code.</p>
            <p>
                <a href="https://docs.google.com/document/d/1D--xSKKur6eMy-3UgwATxt84a0d3mAyZRrDcLjWysG8/edit?usp=sharing">Resume</a><br>
                <a href="https://github.com/roosie">Github</a><br>
                <a href="{{ url_for('index') }}">About</a><br>
                <a href="/#Projects">Projects</a><br>
                <a href="/#Courses">Courses</a><br>
                <a href="{{ url_for('books') }}">Books</a><br>
                <a href="{{ url_for('games') }}">Games</a><br>
                <a href="{{ url_for('lifts') }}">Lifts</a><br>
                <a href="{{ url_for('races') }}">Races</a>
            </p>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>