{% extends "layout.html" %}
{% block content %}
<h2><a id="Races">Races</a></h2>
<a href="https://www.philadelphiamarathon.com/info/results/">Philadelphia Marathon - Marathon 3:30 2024 (Will updated in a week 11/19/2024)</a><br>
<a href="https://www.redmondharvesthalf.com/Race/Results/147339/IndividualResult/gHRt?resultSetId=484078#U91005552">Redmond Harvest Half Marathon - Half Marathon 1:53:38.04 2024</a><br>
<a href="https://www.portlandmarathon.com/results?pk=7726823">Portland Marathon - Marathon 1:53:38.04 2023</a>
{% endblock %}